<form action="/addPost" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle1">Title:</label>
        <input type="text" class="form-control" placeholder="Enter title" id="inputTitle1" name="inputTitle1">
    </div>
    <div class="form-group">
        <label for="inputContent1">Content:</label>
        <textarea type="textarea" class="form-control" placeholder="Enter content" id="inputContent1" name="inputContent1" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="inputAuthor1">Author:</label>
        <input type="text" class="form-control" placeholder="Enter author" id="inputAuthor1" name="inputAuthor1">
    </div>
    <div class="form-group">
            <label for="inputFile1">Image:</label>
            <input type="file" class="form-control-file" name="inputFile1" id="inputFile1">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>