<div class="box-modal" id="exampleModal">
	<div class="card mb-0">
	  <div class="card-header mb-1">
		<h5><strong>Deposit:</strong> <%=address%></h5>
	  </div>
	  <div class="card-body">
		  <%- info %>

		<a href="javascript:void(0)" class="btn btn-secondary btn-sm  arcticmodal-close float-right">Close</a>
	  </div>
	</div>
</div>

